*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
#header_stick{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    /* position: sticky; */
    /* top: 0; */
    z-index: 9;
}
#row{
    width: 1140px;
    height: 100%;
}
#navbar_col{
    width: 100%;
    /* background-color: antiquewhite; */
    height: 100%;
    padding: 0 15px
    
}
#main_nav{
    width: 100%;
    height: 80px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#image_nav{
    background-image: url(klassy-logo.png);
    height: 55px;
    width: 170px;
}
#links_nav{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 18px;
}
#links_nav a{
    text-decoration: none;
    color: black;
}
#links_nav a:hover{
    cursor: pointer;
}

#asdf{
    padding: 0 0 0 15px;
}

/* links navbar property */
#home_nav{
    padding: 0 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fb5849 !important;
    letter-spacing: 1px;
}
#about_nav{
    padding: 0 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    height: 40px;
    transition: color 0.3s ease-in-out;
}
#menu_nav{
    padding: 0 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
}
#chefs_nav{
    padding: 0 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
}
#features_nav{
    padding: 0 30px 0 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
    position: relative;
}
#submenu_nav{
    position: absolute;
    top: 70px;
    width: 200px;
    /* background-color: rebeccapurple; */
    border: 0.5px solid black;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
    display: none;
    /* transition: all 4s ease-in-out; */
    background-color: white;
    z-index: 2;
}
#submenu_nav li{
    height: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
}
#submenu_link1:hover{
    color: #fb5849 !important;
    /* background-color: cadetblue; */
    cursor: pointer;
    padding-left: 15px;
    background-color: snow;
}
#submenu_link2:hover{
    color: #fb5849 !important;
    /* background-color: cadetblue; */
    cursor: pointer;
    padding-left: 15px;
    background-color: snow;
}
#submenu_link3:hover{
    color: #fb5849 !important;
    /* background-color: cadetblue; */
    cursor: pointer;
    padding-left: 15px;
    background-color: snow;
}
#submenu_link4:hover{
    color: #fb5849 !important;
    /* background-color: cadetblue; */
    cursor: pointer;
    padding-left: 15px;
    background-color: snow;
}

#submenu_nav a{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-weight: 100 !important;
    /* font-weight: lighter; */
    text-decoration: none;
    color: black;
}
#contact_us_nav{
    padding: 0 0 0 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fb5849 !important;
    letter-spacing: 1px;
}

#about_nav:hover, #menu_nav:hover, #chefs_nav:hover, #features_nav:hover{
    color: #fb5849 !important;
}





/* Home page */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#home_body{
    width: 100%;
    height: fit-content;
    display: flex;
}

#left_content_home{
    background-image: url(top-left-bg.jpg);
    width: 33.33333%;
    height: 700px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inner_content_left_content_about{
    color: white;
}
#inner_content_left_content_about h4{
    font-family: 'Dancing Script', cursive;
    font-size: 54px;
}

#inner_content_left_content_about h6{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 5px 0 0 0;
    letter-spacing: 3px;
}

#inner_content_left_content_about div{
    margin: 25px 0 15px 0;
    padding: 12px 25px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}
#inner_content_left_content_about div a{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fb5849 !important;
}

#inner_content_left_content_about div:hover{
    background-color: aliceblue;
    cursor: pointer;
}

#right_content_home{
    height: 700px;
    width: 66.6666%;
    /* background-color: aqua; */
    display: flex;
    align-items: flex-start;
    position: relative;
}
#left_arrow{
    position: absolute;
    top: 43.75%;
    left: 30px;
    color: white;
    font-size: 25px;
    padding: 12px;
    background-color: #fb5849;
    border-radius: 50%;
    opacity: 0.4;
    transition: all 0.2s ease-in-out;
}
#right_arrow{
    position: absolute;
    top: 43.75%;
    right: 30px;
    color: white;
    font-size: 25px;
    padding: 12px;
    background-color: #fb5849;
    border-radius: 50%;
    opacity: 0.4;
    transition: all 0.2s ease-in-out;
}

#right_arrow:hover{
    cursor: pointer;
    opacity: 1;
}
#left_arrow:hover{
    cursor: pointer;
    opacity: 1;
}
/* image home page slideshow */
#image_right_content_home1{
    background-image: url(slide-01.jpg);
    height: 700px;
    width: 100%;
}
#image_right_content_home2{
    background-image: url(slide-02.jpg);
    height: 700px;
    width: 100%;
    display: none;
}
#image_right_content_home3{
    background-image: url(slide-03.jpg);
    height: 700px;
    width: 100%;
    display: none;
}


/* about page  */

#about_body{
    padding: 100px 0 0 0;
    margin: 20px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
#left_content_about{
    width: 570px;
    padding: 0px 15px;
}
#right_content_about{
    width: 570px;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
}

/* designing left about elements */
#left_content_about h6{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #fb5849;
    /* padding: 0 0 0 40px; */
    font-weight: 500;
    letter-spacing: 2px;
}
#left_content_about h2{
    margin: 20px 0 25px 0;
    padding: 0px 120px 0 0;
    font-size: 30px;
    /* font-weight: 900; */
    font-family: 'Poppins', sans-serif;
    font-weight: 900 !important;
}

#left_content_about p{
    margin: 0 0 25px 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    font-weight: 400;
}
#left_content_about p a{
    text-decoration: none;
}
#left_content_about div{
    display: flex;
}
.image_left_content_about{
    height: 160px;
    width: 190px;
    padding: 0 15px;
}

#image1_left_content_about{
    background-image: url(about-thumb-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#image2_left_content_about{
    background-image: url(about-thumb-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#image3_left_content_about{
    background-image: url(about-thumb-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* designing right about elements */
#image_right_content_about{
    background-image: url(about-video-bg.jpg);
    width: 510px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image_right_content_about i{
    color: white;
}

#image_right_content_about a{
    padding: 26px 29px;
    background-color: #fb5849;
    border-radius: 50%;
}





/* menu page designing */
#menu_body{
    margin: 120px 0 0 0;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head_row_menu{
    width: 1140px;
    display: flex;
    justify-content: left;
}
#head_row_stack_menu{
    width: 380px;
    padding: 0 15px;
    height: 198px;
}

#head_row_stack_menu h6{
    font-size: 15px;
    color: #fb5849;
    font-family: 'Poppins:100', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
}
#head_row_stack_menu h2{
    margin: 20px 0 25px 0;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}


/* menu image slideshow */
#image_slideshow_menu{
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.card_image_slideshow_menu{
    height: 400px;
    width: 18%;
    position: relative;
}
.price_card_image_slideshow_menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: #fb5849;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price_card_image_slideshow_menu h6{
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#card6_image_slideshow_menu{
    display: none;
    background-image: url(menu-item-03.jpg);
}
#card1_image_slideshow_menu{
    background-image: url(menu-item-01.jpg);
    background-repeat: no-repeat;
}
#card2_image_slideshow_menu{
    background-image: url(menu-item-02.jpg);
    background-repeat: no-repeat;
}
#card3_image_slideshow_menu{
    background-image: url(menu-item-03.jpg);
    background-repeat: no-repeat;
}
#card4_image_slideshow_menu{
    background-image: url(menu-item-04.jpg);
    background-repeat: no-repeat;
}
#card5_image_slideshow_menu{
    background-image: url(menu-item-05.jpg);
    background-repeat: no-repeat;
}


/* slider for menu */
#slider_image_slideshow_menu{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    color: #fb5849;
}
#slider_image_slideshow_menu span{
    width: 25px;
}

#slider_image_slideshow_menu i:hover{
    cursor: pointer;
}




/* chefs page designing */
#chefs_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0 0 0;
}

#head_chefs{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 380px;
    padding: 0 15px;
}

#head_chefs h6{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fb5849;
    letter-spacing: 2px;
}

#head_chefs h2{
    margin: 20px 0 25px 0;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
}

#chef_gallery_chefs{
    width: 1140px;
    display: flex;
}
.chef_gallery_card_cover{
    width: 33.333333%;
    height: 420.15px;
    padding: 0 15px;
}

.chef_gallery_card{
    border: 1px solid #afafaf;
    height: 100%;
    padding: 5px;
}
.chef_gallery_card_image{
    height: 320.15px;
    position: relative;
}

.chef_gallery_card_image_color_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.chef_social_media{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 45%;
    left: 30%;
    display: none;
}
.color_overlay_facebook{
    padding: 10px 13px;
    border-radius: 50%;
    background-color: white;
    opacity: 1 !important;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}
.color_overlay_google{
    padding: 10px 11.5px;
    border-radius: 50%;
    background-color: white;
    opacity: 1 !important;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}
.color_overlay_instagram{
    padding: 10px 12px;
    border-radius: 50%;
    background-color: white;
    opacity: 1 !important;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}

.color_overlay_facebook:hover{
    cursor: pointer;
    background-color: #fb5849;
}
.color_overlay_google:hover{
    cursor: pointer;
    background-color: #fb5849;
}
.color_overlay_instagram:hover{
    cursor: pointer;
    background-color: #fb5849;
}


#chef_gallery_card_image1{
    background-image: url(chefs-01.jpg);
    background-repeat: no-repeat;
}
#chef_gallery_card_image2{
    background-image: url(chefs-02.jpg);
    background-repeat: no-repeat;
}
#chef_gallery_card_image3{
    background-image: url(chefs-03.jpg);
    background-repeat: no-repeat;
}


.chef_gallery_card_text{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chef_gallery_card_text h4{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.chef_gallery_card_text p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}




/* conatact us page block designing */
#contact_us_body{
    margin: 120px 0 0 0;
    padding: 120px 0;
    height: 785.9px;
    background-image: url(reservation-bg.jpg);
    display: flex;
    justify-content: center;
}
#contact_us_row{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact_us_cell_wrap{
    height: fit-content;
    width: 570px;
    padding: 0 15px;
}
#contact_us_cell{
    height: 100%;
}
#table_reservation_cell{
    width: 570px;
    height: 100%;
    padding: 0 15px;
}
#contact_form{
    height: 100%;
}
#contact{
    padding: 45px 30px;
    margin: 0 0 0 30px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}
#contact_handles{
    width: 100%;
    display: flex;
}
#contact_phone{
    width: 50%;
    height: 161.4px;
    padding: 0 15px;
}
#contact_email{
    width: 50%;
    padding: 0 15px;
    height: 161.4px;
}
.card_contact{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 7px;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.contact_logo_wrap_ph{
    position: absolute;
    top: -15%;
    left: 35%;
    padding: 25px 22px;
    border-radius: 50%;
    background-color: #fb5849;
    color: white;
}
.contact_logo_wrap_email{
    position: absolute;
    top: -15%;
    left: 35%;
    padding: 25px 22px;
    border-radius: 50%;
    background-color: #fb5849;
    color: white;
}

.card_contact h4{
    margin: 15px 0 10px 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.card_contact p{
    margin: 0 !important;
    color: black !important;
    font-weight: 300 !important;
}

/* contact us content design */
#contact_us_cell h6{
    font-size: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
#contact_us_cell h2{
    font-size: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 20px 0 30px 0;
    line-height: 40px;
}
#contact_us_cell p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0 0 65px 0;
    color: white;
    line-height: 25px;
}
#contact h4{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0 0 30px 0;
}





/* offers page layout design */
#offers_body{
    padding: 120px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#head_offers_wrap{
    width: 1140px;
    display: flex;
    justify-content: center;
}
#head_offers{
    width: 350px;
    height: 188px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#head_offers h6{
    font-size: 15px;
    color: #fb5849;
    font-weight: 500;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}
#head_offers h2{
    font-size: 30px;
    font-weight: 900;
    width: 100%;
    margin: 20px 0 25px 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 40px;
}

#time_table_menu{
    width: 540px;
    display: flex;
    height: 89.5px;
    justify-content: center;
}
.time_table_card{
    width: 86px;
    height: 52px;
    margin: 0 20px 15px 20px;
}

#breakfast{
    background-image: url(tab-icon-01.png);
    position: relative;
}
#breakfast h6{
    position: absolute;
    left: 10% !important;
    bottom: -65%;
    color: #fb5849;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
#lunch{
    background-image: url(tab-icon-02.png);
    position: relative;
}
#lunch h6{
    position: absolute;
    left: 25% !important;
    bottom: -65%;
    color: #fb5849;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
#dinner{
    background-image: url(tab-icon-03.png);
    position: relative;
}
#dinner h6{
    position: absolute;
    left: 20% !important;
    bottom: -65%;
    color: #fb5849;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

/* offers menu design */
#offers_menu{
    width: 1140px;
    /* padding: 0 15px; */
    display: flex;
    margin-top: 50px;
}
.offers_menu_row{
    width: 50%;
}
.offers_menu_list{
    margin: 0 15px 0 0;
    display: flex;
    flex-direction: column;
}
.item_col{
    height: 100px;
    width: 100%;
    margin: 0 0 60px 0;
}
.item{
    width: 100%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.item_image{
    height: 100%;
    width: 100px !important;
    background-repeat: no-repeat;
    margin: 0 20px 0 0;
    background-size: cover;
    border-radius: 5px;
}
#item_image1{
    background-image: url(tab-item-01.png);
}
#item_image2{
    background-image: url(tab-item-02.png);
}
#item_image3{
    background-image: url(tab-item-03.png);
}
#item_image4{
    background-image: url(tab-item-04.png);
}
#item_image5{
    background-image: url(tab-item-05.png);
}
#item_image6{
    background-image: url(tab-item-06.png);
}

.item_price{
    height: 70%;
    width: 70px;
    background-color: #fb5849;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_price h6{
    font-size: 18px;
    font-weight: 700;
}
.item_text{
    display: flex;
    flex-direction: column;
    width: 325px;
}
.item_text h4{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.item_text p{
    font-size: 14px;
    font-weight: 300 !important;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}



/* footer section design */
#footer_body{
    width: 100%;
    margin: 60px 0 0 0;
    padding: 50px 0;
    height: 155px;
    background-color: #fb5849;
    display: flex;
    justify-content: center;
}
#footer_body div{
    width: 380px;
    padding: 0 15px;
    margin: 5px 0 0 0;
}
#social_handles_footer{
    display: flex;
    justify-content: left;
    align-items: flex-end;
}
#social_handles_footer a{
    height: 44px;
    font-size: 16px;
    color: #fb5849;
    padding: 0 15px;
    background-color: white;
    border-radius: 50%;
    margin: 0 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
#logo_footer{
    background-image: url(white-logo.png);
    background-repeat: no-repeat;
    background-position: center;
}
#copyright_footer{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: right;
    line-height: 25px;
    color: white;
    font-size: 14px;
}
#copyright_footer p{
    text-align: right;
}







    /********** media queries for website  **********/




                  /* media query @ 1200 px */


/* media query for navigation bar */
@media only screen and (max-width:1200px) {
    #row{
        width: 960px;
    }
}
/* media query for home page  */
@media only screen and (max-width:1200px) {

}
/* media query for about page */
@media only screen and (max-width:1200px) {
    #left_content_about{
        width: 480px;
    }
    #left_content_about div{
        display: flex;
        justify-content: space-between;
    }
    #right_content_about{
        width: 480px;
    }
    .image_left_content_about{
        height: 130px;
        width: 130px;
        /* padding: 0;
        margin: 0 15px; */
    }
    #right_content_about{
        width: 480px;
        display: flex;
        justify-content: right;
    }
    #image_right_content_about{
        width: 420px;
        height: 394.33px;
        background-size: cover;
    }
}

/* media query for menu page */
@media only screen and (max-width:1200px) {
    #head_row_menu{
        width: 960px;
        height: 238px;
    }
    #head_row_stack_menu{
        width: 320px;
    }
}



/* media query for chefs page */
@media only screen and (max-width:1200px) {
    #head_chefs{
        width: 320px;
        height: 228px;
    }
    #chef_gallery_chefs{
        width: 960px;
    }
    .chef_gallery_card_cover{
        height: 363.33px;
    }
    .chef_gallery_card_image{
        height: 263.33px;
        background-size: cover;
    }
}

/* media query for contact us page */
@media only screen and (max-width:1200px) {
    #contact_us_cell_wrap{
        width: 480px;
    }
    #table_reservation_cell{
        width: 480px;
    }
    #contact_phone{
        padding: 0 15px 0 0;
    }
    #contact_email{
        padding: 0 0 0 15px;
    }
}

/* media query for offers page */
@media only screen and (max-width:1200px) {
    #head_offers_wrap{
        width: 960px;
    }
    #head_offers{
        width: 290px;
    }
    #time_table_menu{
        width: 450px;
    }
    #offers_menu{
        width: 960px;
    }
    .item{
        display: flex;
        justify-content: space-between;
    }
    .item_col{
        height: 119px;
    }
    .item_text{
        width: 220px;
    }
    .item_image{
        height: 100px;
    }
    .item_price{
        width: 70px;
        height: 70px;
    }
}


/* media query for footer section */
@media only screen and (max-width:1200px) {
    #footer_body div{
        width: 320px;
    }
} 